<div class="sara">

  <app-front-menu [project]="true" [blog] = "true" [fullWidth] = "true"></app-front-menu>

  <div class="container-fluid saraContent bg-grey firstSection">
    <div class="container">
      <div class="row headerTextRow">
        <div class="col-12 col-lg-5 headerText">
          <div class="logo" [inlineSVG]="'assets/images/front/projects/sara/logo.svg'"></div>
          <h1>Introducing the
            <br/>
            <span class="saraMainColor">Sara Events</span> Project
          </h1>

          <p class="text-big">
            An elegantly modern website for stunning first impressions.
          </p>

          <a href="https://saraevents.ro/" rel="noopener noreferrer" class="btn" target="_blank">
            Visit Website
          </a>
        </div>
        <div class="col-12 col-lg-7 topImage">
          <div class="shadowImage">
            <picture>
              <source
                media="(max-width: 600px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/mobile/png/hero.png 1x,
                                  assets/images/front/projects/sara/mobile/png/hero@2x.png 2x,
                                  assets/images/front/projects/sara/mobile/png/hero@3x.png 3x"
              >
              <source
                media="(max-width: 991px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/tablet/png/hero.png 1x,
                                  assets/images/front/projects/sara/tablet/png/hero@2x.png 2x,
                                  assets/images/front/projects/sara/tablet/png/hero@3x.png 3x"
              >
              <source
                media="(min-width: 992px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/web/png/hero.png 1x,
                                  assets/images/front/projects/sara/web/png/hero@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/hero@3x.png 3x"
              >
              <img src="assets/images/front/projects/sara/web/png/hero.png" alt="Hero Image">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid saraContent bg-grey animationSection" id="animationSection">
    <div class="container">
      <div class="row headerTextRow">

        <div class="col-12 order-1 order-lg-0 col-lg-6 topImage">
          <div class="shadowImageRow">
            <div class="animationBackgroundImages">
              <picture class="animationImage" id="animationImage">
                <source
                  media="(max-width: 600px)"
                  type="image/png"
                  srcset="
                                  assets/images/front/projects/sara/mobile/png/animation.png 1x,
                                  assets/images/front/projects/sara/mobile/png/animation@2x.png 2x,
                                  assets/images/front/projects/sara/mobile/png/animation@3x.png 3x"
                >
                <source
                  media="(max-width: 991px)"
                  type="image/png"
                  srcset="
                                  assets/images/front/projects/sara/tablet/png/animation.png 1x,
                                  assets/images/front/projects/sara/tablet/png/animation@2x.png 2x,
                                  assets/images/front/projects/sara/tablet/png/animation@3x.png 3x"
                >
                <source
                  media="(min-width: 992px)"
                  type="image/png"
                  srcset="
                                  assets/images/front/projects/sara/web/png/animation.png 1x,
                                  assets/images/front/projects/sara/web/png/animation@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/animation@3x.png 3x"
                >
                <img src="assets/images/front/projects/sara/web/png/im1.png" alt="Animation Image">
              </picture>
              <picture class="animationBackgroundImage">
                <source
                  media="(max-width: 600px)"
                  type="image/png"
                  srcset="
                                  assets/images/front/projects/sara/mobile/png/im1.png 1x,
                                  assets/images/front/projects/sara/mobile/png/im1@2x.png 2x,
                                  assets/images/front/projects/sara/mobile/png/im1@3x.png 3x"
                >
                <source
                  media="(max-width: 991px)"
                  type="image/png"
                  srcset="
                                  assets/images/front/projects/sara/tablet/png/im1.png 1x,
                                  assets/images/front/projects/sara/tablet/png/im1@2x.png 2x,
                                  assets/images/front/projects/sara/tablet/png/im1@3x.png 3x"
                >
                <source
                  type="image/png"
                  media="(min-width: 992px)"
                  srcset="
                                  assets/images/front/projects/sara/web/png/im1.png 1x,
                                  assets/images/front/projects/sara/web/png/im1@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/im1@3x.png 3x"
                >
                <img src="assets/images/front/projects/sara/web/png/im1.png" alt="Hero Image">
              </picture>
            </div>

          </div>
        </div>
        <div class="col-12 order-0 order-lg-1 col-lg-5 offset-lg-1 headerText">
          <h1>
            <span class="saraMainColor">Engaging</span> User Experience
          </h1>

          <p>
            Functions hosted by Sara Events are glittering, elegant, and
            well-organized. We sought to bring that same spirit to our website design,
            creating a flowing, animation-rich experience that delights
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid saraContent bg-grey thirdSection">
    <div class="container">
      <div class="row headerTextRow">
        <div class="col-12 col-lg-5 headerText">
          <h1>
            <span class="saraMainColor">Fast & Responsive</span> Design
          </h1>
          <div class="multipleText">
            <p>
              The website achieves a Google Page Speed score of over 90, thanks to its streamlined Angular
              build and lean, serverless hosting on AWS. It also automatically reconfigures itself
              to display perfectly on any screen size.
            </p>
          </div>

        </div>
        <div class="col-12 col-lg-7 topImage">
          <div class="shadowImageInside">
            <div class="row">
              <!--                        <div class="col-6 mobileImage1">-->
              <!--                            <picture>-->
              <!--                                <source-->
              <!--                                        media="(max-width: 600px)"-->
              <!--                                        type="image/png"-->
              <!--                                        srcset="-->
              <!--                                  assets/images/front/projects/sara/mobile/png/im2_1.png 1x,-->
              <!--                                  assets/images/front/projects/sara/mobile/png/im2_1@2x.png 2x,-->
              <!--                                  assets/images/front/projects/sara/mobile/png/im2_1@3x.png 3x"-->
              <!--                                >-->
              <!--                                <source-->
              <!--                                        media="(max-width: 991px)"-->
              <!--                                        type="image/png"-->
              <!--                                        srcset="-->
              <!--                                  assets/images/front/projects/sara/tablet/png/im2_1.png 1x,-->
              <!--                                  assets/images/front/projects/sara/tablet/png/im2_1@2x.png 2x,-->
              <!--                                  assets/images/front/projects/sara/tablet/png/im2_1@3x.png 3x"-->
              <!--                                >-->
              <!--                                <source-->
              <!--                                        media="(min-width: 992px)"-->
              <!--                                        type="image/png"-->
              <!--                                        srcset="-->
              <!--                                  assets/images/front/projects/sara/web/png/im2_1.png 1x,-->
              <!--                                  assets/images/front/projects/sara/web/png/im2_1@2x.png 2x,-->
              <!--                                  assets/images/front/projects/sara/web/png/im2_1@3x.png 3x"-->
              <!--                                >-->
              <!--                                <img src="assets/images/front/projects/sara/web/png/im2_1.png" alt="Hero Image">-->
              <!--                            </picture>-->
              <!--                        </div>-->
              <div class="col-12 mobileImage2">
                <picture>
                  <source
                    type="image/png"
                    srcset="
                                  assets/images/front/projects/sara/web/png/im2.png 1x,
                                  assets/images/front/projects/sara/web/png/im2@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/im2@3x.png 3x"
                  >
                  <source
                    media="(max-width: 600px)"
                    type="image/png"
                    srcset="
                                  assets/images/front/projects/sara/mobile/png/im2.png 1x,
                                  assets/images/front/projects/sara/mobile/png/im2@2x.png 2x,
                                  assets/images/front/projects/sara/mobile/png/im2@3x.png 3x"
                  >
                  <source
                    media="(max-width: 991px)"
                    type="image/png"
                    srcset="
                                  assets/images/front/projects/sara/tablet/png/im2.png 1x,
                                  assets/images/front/projects/sara/tablet/png/im2@2x.png 2x,
                                  assets/images/front/projects/sara/tablet/png/im2@3x.png 3x"
                  >
                  <source
                    media="(min-width: 992px)"
                    type="image/png"
                    srcset="
                                  assets/images/front/projects/sara/web/png/im2.png 1x,
                                  assets/images/front/projects/sara/web/png/im2@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/im2@3x.png 3x"
                  >
                  <img src="assets/images/front/projects/sara/web/png/im2.png" alt="Hero Image">
                </picture>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid saraContent bg-grey fourthSection">
    <div class="container">
      <div class="row headerTextRow">
        <div class="col-12 col-lg-6 order-1 order-lg-0">
          <div class="shadowImage">
            <picture>
              <source
                media="(max-width: 600px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/mobile/png/im3.png 1x,
                                  assets/images/front/projects/sara/mobile/png/im3@2x.png 2x,
                                  assets/images/front/projects/sara/mobile/png/im3@3x.png 3x"
              >
              <source
                media="(max-width: 991px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/tablet/png/im3.png 1x,
                                  assets/images/front/projects/sara/tablet/png/im3@2x.png 2x,
                                  assets/images/front/projects/sara/tablet/png/im3@3x.png 3x"
              >
              <source
                media="(min-width: 992px)"
                type="image/png"
                srcset="
                                  assets/images/front/projects/sara/web/png/im3.png 1x,
                                  assets/images/front/projects/sara/web/png/im3@2x.png 2x,
                                  assets/images/front/projects/sara/web/png/im3@3x.png 3x"
              >
              <img src="assets/images/front/projects/sara/web/png/im3.png" alt="Hero Image">
            </picture>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-0 order-lg-1 headerText">
          <h1>
            <span class="color-white">Contact us to bring your vision for a website to life. </span>
          </h1>
          <a routerLink="/contact" class="btn">
            GET IN TOUCH
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
