<div class="postItemInside">
  <div>
    <div class="blogItemImage">
      <app-shimmer-loading [width]="'100%'" [height]="'196px'" [borderRadius]="'50px 50px 0 0'"></app-shimmer-loading>
    </div>
    <div class="blogItemDescription">

      <div class="postTitleAndDescription">
        <div class="blogItemTitle">
          <p>
              <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
          </p>
        </div>
        <p class="description">
            <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
        </p>
      </div>
      <div class="">
        <p class="category mr-5">
            <app-shimmer-loading [width]="'50%'" [height]="'13px'"></app-shimmer-loading>
        </p>
      </div>
    </div>
  </div>
</div>
