.flutter {

  h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    color: #21232B;
    padding-bottom: 0.8rem;
  }

  .flutterContainer {
    position: relative;
    background: #F9F9FB;

    .image1 {
      position: absolute;
      top: 0;
      right: 0;
    }
    .image2 {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .image3 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .firstSection {

      .headerImage {
        .image {
          display: flex;
          justify-content: flex-end;
        }
      }
      .headerText {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1{
          font-family: 'Roboto', sans-serif;
          font-size: 4.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 5.6rem;
          letter-spacing: 0;
          text-align: left;
          padding-top: 2.4rem;
          color: #373B48;

          .mainColor {
            color: #74ABFC;
          }
        }

        p {
          font-family: 'Roboto', sans-serif;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.4rem;
          letter-spacing: 0;
          text-align: left;
          padding-top: 2.4rem;
          color: #646A83;
        }

        .infoAction {
          display: flex;
          div{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 1.6rem 6rem;
            background: linear-gradient(157.41deg, #9BC8FE 4.86%, #74ABFC 77.05%);
            border-radius: 0.4rem;
            flex: none;
            order: 3;
            flex-grow: 0;
            margin: 2.4rem 0;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #F9F9FB;
            text-transform: uppercase;

          }
        }

      }

    }
  }

  .secondSection {
    .sectionPadding {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem;
    }
    h2 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 4.2rem;
      color: #21232B;
      padding-bottom: 1.6rem;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 3.2rem;
      color: #4D5265;
    }

    .aboutFlutter {
      text-align: center;

      p {
        max-width: 58.5rem;
        margin: 0 auto;
      }
    }

    .cardFlutterRow {
      .integration, .nativeSupport {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          max-width: 48rem;
        }
      }

      .nativeSupport {
        .nativeSupportInside {
          margin: 0 auto;
        }
      }


      .imageShapes {
        -webkit-filter: drop-shadow(5px 5px 5px #222 );
        filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.12));
      }

      .cardFlutterCol {
        display: flex;
        justify-content: center;
        .cardFlutter {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          background: #FEFEFE;
          box-shadow:
                  0 40px 40px rgb(0 0 0 / 5%),
                  0 20.25px 17.4375px rgb(0 0 0 / 3%),
                  0 8px 6.5px rgb(0 0 0 / 3%),
                  0 1.75px 2.3125px rgb(0 0 0 / 2%);
          border-radius: 16px;

          .cardInfoText {
            padding: 3.2rem;

            h3 {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 2.4rem;
              line-height: 2.8rem;
              letter-spacing: -0.02em;
              color: #21232B;
              padding-bottom: 0.8rem;
            }

            p {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1.8rem;
              line-height: 2.2rem;
              color: #646A83;
            }
          }


        }
      }
    }
  }

  .flutterTechContainer {

    background: #F1F1F4;
    border-radius: 2.4rem;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .headerTextSection {
      text-align: center;

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        max-width: 58rem;
        margin: 0 auto;
      }


    }
  }

  .techCardsRow {
    .techCardsCol {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 4.8rem;

      .techCard {
        max-width: 42.6rem;
        padding: 3.2rem;

        &:hover {
          background-color: #FEFEFE;
          .techCardHeader .cardImage {
            background: linear-gradient( 157.41deg, #9BC8FE 4.86%, #74ABFC 77.05%);
          }

        }

        .techCardHeader {
          display: flex;
          padding-bottom: 2.4rem;
          .cardImage {
            background: white;
            border-radius: 16px;
            padding: 2rem;
          }
          .cardTitle{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            h4 {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 2.4rem;
              line-height: 2.4rem;
              text-align: center;
              letter-spacing: -0.02em;
              color: #21232B;
            }
          }
        }
        .techCardContent{
          p {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #21232B;
          }
        }
      }
    }
  }

  .fourthSection {

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #373B48;
      max-width: 58.5rem;
    }
    .caseStudies {
      padding-top: 0;
    }
  }

  .fifthSection {

    .headerTextSection {
      text-align: center;
    }

    h5 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #7D839C;
      padding-bottom: 3.2rem;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 3.6rem;
      line-height: 4.2rem;
      color: #D4D6DE;

    }

    .projectsNames {
      display: flex;
      justify-content: space-evenly;
    }

  }
}
