<div class="pointer projectCard">
    <div>
        <div class="cardImage">
            <app-shimmer-loading [width]="'100%'" [height]="'257px'"></app-shimmer-loading>
        </div>
        <div class="cardContainer">
            <p class="title">
                <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
            </p>
            <p class="description">
                <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
                <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
                <app-shimmer-loading [width]="'100%'" [height]="'20px'"></app-shimmer-loading>
            </p>
            <p class="technology">
                <app-shimmer-loading [width]="'50%'" [height]="'13px'"></app-shimmer-loading>
            </p>
        </div>
    </div>
</div>
