<div id="gdbrPopup">
  <div class="popupSmall" *ngIf="show">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12">
          <p>
            Thank you for visiting our website.
            For providing the best possible experience this website uses cookies.
            By continuing to use the website you agree to our Terms of Use.
            If you would like to read more about our <button class="readMoreBlack" routerLink="/terms">Terms of Use</button> please click <button class="readMore" routerLink="/terms">here</button>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 flex-to-right">
          <button class="ok" (click) = close()>OK</button>
        </div>
      </div>
    </div>
  </div>

</div>
