
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .header {

    .row > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        color: #2E2E2E;
        font-family: 'Mulish', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.1px;
        line-height: 3.8rem;
        text-align: center;
        margin-bottom: 1rem;
      }

    }
  }

}

.bottom-message {
  text-align: center;

  p {
    max-width: 51rem;
    color: #646A83;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1px;
    line-height: 2.7rem;
    text-align: center;
    font-weight: 400;
    margin: 0 auto 2.5rem auto;
  }

  a {
    border: 1px solid #2E2E2E;
    border-radius: 22px;
    color: #2E2E2E;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    line-height: 1.9rem;
    font-weight: 400;
    padding: 0;
    min-width: 24.8rem;
    min-height: 3.7rem;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;

      svg {
        width: 2.6rem;
        height: 0.8rem;
        stroke: #2E2E2E;
      }

    }

    img {
      width: 2.6rem;
      height: 0.8rem;
      margin-left: 1.1rem;
    }

  }
}




.sm-badges > div {
  width: 100%;
  float: left;
}

.star-ranking {
  margin-left: .5rem;
}

.star-ranking li img {
  width: 24px;
  margin-right: .1rem;
}




@media only screen and (max-width: 760px) {
  .sm-badges .section-title {
    flex-wrap: wrap;
  }

  #clutch, #goodfirms {
    order: 1;
  }

  .clutch-widget iframe {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  #clutch {
    margin: auto;
  }

  .bottom-message p{
    max-width: 90%;
  }
}
@media only screen and (max-width: 600px) {

  #goodfirms a {
    margin: 0 auto;
  }

}

.goodfirm-widget {
  transform: scale(0.6);
  margin: 0 auto;
}


