<div class="customProject lbsManager">
    <app-front-menu [project]="true" [blog] = "true" [fullWidth] = "true"></app-front-menu>

    <div class="container-fluid">
        <div class="topContainer">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-12 col-lg-7 colHeaderText">
                        <div class="headerText">
                            <div class="titleAndLogo">
                                <div class="headerLogo">
                                    <picture>
                                        <source
                                                media="(min-width: 992px)"
                                                type="image/png"
                                                srcset="
                                      assets/images/front/projects/lbsManager/lbs-manager.png 1x,
                                      assets/images/front/projects/lbsManager/lbs-manager@2x.png 2x,
                                      assets/images/front/projects/lbsManager/lbs-manager@3x.png 3x"
                                        >
                                        <img src="assets/images/front/projects/lbsManager/lbs-manager.png" alt="LBS Logo">
                                    </picture>
                                </div>
                                <div class="headerTitle">
                                    <h1>LBS Manager</h1>
                                    <h2>Enterprise Mobile App</h2>
                                </div>

                            </div>
                            <div class="headerInfo">
                                <p>Is a complete overview of assets possible in real-time? Yes, with Flutter that challenge is overcome fast and with reduced costs.</p>

                            </div>
                            <div class="headerAction pointer" (click)="scrollToElement(target)">
                                <button class="btn" >
                                    FIND OUT MORE
                                </button>
                            </div>


                        </div>
                    </div>
                    <div class="col-12 col-lg-5 colHeaderImage">
                        <picture>
                            <source
                                    media="(max-width: 991px)"
                                    type="image/png"
                                    srcset="
                                      assets/images/front/projects/lbsManager/hero_lbs_sm.png 1x,
                                      assets/images/front/projects/lbsManager/hero_lbs_sm@2x.png 2x,
                                      assets/images/front/projects/lbsManager/hero_lbs_sm@3x.png 3x"
                            >
                            <source
                                    media="(min-width: 991px)"
                                    type="image/png"
                                    srcset="
                                      assets/images/front/projects/lbsManager/hero_lbs_lg.png 1x,
                                      assets/images/front/projects/lbsManager/hero_lbs_lg@2x.png 2x,
                                      assets/images/front/projects/lbsManager/hero_lbs_lg@3x.png 3x"
                            >
                            <img loading="lazy" src="assets/images/front/projects/lbsManager/hero_lbs_lg.png" alt="LBS Manager App Image">
                        </picture>
                    </div>
                </div>
                <div class="row">
                    <div class="topHeaderRow">
                        <div class="techStack">
                            <div class="techItem title">
                                <p class="infoText">Tech stack</p>
                            </div>
                            <div class="techItems">
                                <div class="techItem">
                                    <picture>
                                        <source
                                                type="image/png"
                                                srcset="
                                          assets/images/front/projects/tinka/flutter-icon-original.png 1x,
                                          assets/images/front/projects/tinka/flutter-icon-original@2x.png 2x,
                                          assets/images/front/projects/tinka/flutter-icon-original@3x.png 3x"
                                        >
                                        <img class="iconStack flutterIcon" src="assets/images/front/projects/tinka/flutter-icon-original.png" alt="Flutter Icon">
                                    </picture>
                                    <p class="itemText">Flutter</p>
                                </div>
                                <div class="techItem">
                                    <p class="divider">/</p>
                                    <picture>
                                        <source
                                                type="image/png"
                                                srcset="
                                          assets/images/front/projects/tinka/node-js-icon.png 1x,
                                          assets/images/front/projects/tinka/node-js-icon@2x.png 2x,
                                          assets/images/front/projects/tinka/node-js-icon@3x.png 3x"
                                        >
                                        <img class="iconStack nodeIcon" src="assets/images/front/projects/tinka/node-js-icon.png" alt="Node.js Icon">
                                    </picture>
                                    <p class="itemText">Node.js</p>
                                </div>
                                <div class="techItem">
                                    <p class="divider">/</p>
                                    <picture>
                                        <source
                                                type="image/png"
                                                srcset="
                                          assets/images/front/projects/tinka/aws-icon.png 1x,
                                          assets/images/front/projects/tinka/aws-icon@2x.png 2x,
                                          assets/images/front/projects/tinka/aws-icon@3x.png 3x"
                                        >
                                        <img class="iconStack awsIcon" src="assets/images/front/projects/tinka/aws-icon.png" alt="AWS Icon">
                                    </picture>
                                    <p class="itemText">AWS</p>
                                </div>
                            </div>
                        </div>
                        <div class="appLinks">
                            <div class="appTitle">
                                <p class="infoText">See it live</p>
                            </div>
                            <div class="appImages">
                                <a href="https://apps.apple.com/au/app/lbs-manager/id1559910420" target="_blank" rel="noopener noreferrer" >
                                    <picture>
                                        <source
                                                type="image/png"
                                                srcset="
                                      assets/images/front/projects/tinka/app-store-badge.png 1x,
                                      assets/images/front/projects/tinka/app-store-badge@2x.png 2x,
                                      assets/images/front/projects/tinka/app-store-badge@3x.png 3x"
                                        >
                                        <img class="iconStack storeIcon" src="assets/images/front/projects/tinka/app-store-badge.png" alt="Apple Store">
                                    </picture>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.positionlogic.lbsManager" target="_blank" rel="noopener noreferrer" >
                                    <picture>
                                        <source
                                                type="image/png"
                                                srcset="
                                          assets/images/front/projects/tinka/google-play-badge.png 1x,
                                          assets/images/front/projects/tinka/google-play-badge@2x.png 2x,
                                          assets/images/front/projects/tinka/google-play-badge@3x.png 3x"
                                        >
                                        <img class="iconStack storeIcon" src="assets/images/front/projects/tinka/google-play-badge.png" alt="Google Play">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container secondSection">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 titleSection">
                            <h2>Complete fleet control at a glance</h2>
                        </div>
                        <div class="col-12 col-md-6 infoSection">
                            <p>The companion app made especially for Kore Wireless clients which allows them to connect and view in real time the position of their assets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container thirdSection">
            <div class="row thirdSectionRow">
                <div class="col-12 col-lg-6 imageCol">
                    <picture>
                        <source
                                media="(max-width: 991px)"
                                type="image/png"
                                srcset="
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_sm.png 1x,
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_sm@2x.png 2x,
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_sm@3x.png 3x"
                        >
                        <source
                                media="(min-width: 991px)"
                                type="image/png"
                                srcset="
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_lg.png 1x,
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_lg@2x.png 2x,
                                      assets/images/front/projects/lbsManager/img_{{imageSection}}_lg@3x.png 3x"
                        >
                        <img class="phoneMock" src="assets/images/front/projects/lbsManager/img_{{imageSection}}_lg.png" alt="Phone Mock">
                    </picture>
                </div>
                <div class="col-12 col-lg-6 textCol">
                    <div class="titleHeader" id="target" #target>
                        <h4>Key <span>features</span></h4>
                    </div>
                    <div class="titleInfo">
                        <p>Features make or break an app. Below you can find some of the features that stand out for this app.</p>
                    </div>
                    <div class="boxItem">
                        <div class="headerBox pointer" (click)="toggleSection1()">
                            <div class="image">
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/lbsManager/icon.png 1x,
                                  assets/images/front/projects/lbsManager/icon@2x.png 2x,
                                  assets/images/front/projects/lbsManager/icon@3x.png 3x"
                                    >
                                    <img class="titleImage" src="assets/images/front/projects/lbsManager/icon.png" alt="Icon Biometric">
                                </picture>
                            </div>
                            <div class="title">
                                <h5>Layered data display</h5>
                                <p>Update the app interface based on your needs</p>
                            </div>
                            <div class="icon">
                                <picture >
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/open.png 1x,
                                  assets/images/front/projects/tinka/open@2x.png 2x,
                                  assets/images/front/projects/tinka/open@3x.png 3x"
                                    >
                                    <img class="open iconShowHide" [class.show]="section1" src="assets/images/front/projects/tinka/open.png" alt="Open Arrow">
                                </picture>
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/close.png 1x,
                                  assets/images/front/projects/tinka/close@2x.png 2x,
                                  assets/images/front/projects/tinka/close@3x.png 3x"
                                    >
                                    <img class="close iconShowHide" [class.show]="!section1" src="assets/images/front/projects/tinka/close.png" alt="Close Arrow">
                                </picture>
                            </div>

                        </div>
                        <div class="textInfoBox" [class.show]="section1">
                            <p>
                                The user can choose between 3 types of display modes based on his needs. Each type of card can be expanded to view even more information sent by the fleet assets.
                            </p>
                        </div>
                    </div>

                    <div class="boxItem">
                        <div class="headerBox pointer" (click)="toggleSection2()">
                            <div class="image">
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/lbsManager/icon2.png 1x,
                                  assets/images/front/projects/lbsManager/icon2@2x.png 2x,
                                  assets/images/front/projects/lbsManager/icon2@3x.png 3x"
                                    >
                                    <img class="titleImage" src="assets/images/front/projects/lbsManager/icon2.png" alt="Icon">
                                </picture>
                            </div>
                            <div class="title">
                                <h5>Asset tracking in real time</h5>
                                <p>Using the Google Maps API</p>
                            </div>
                            <div class="icon">
                                <picture >
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/open.png 1x,
                                  assets/images/front/projects/tinka/open@2x.png 2x,
                                  assets/images/front/projects/tinka/open@3x.png 3x"
                                    >
                                    <img class="open iconShowHide" [class.show]="section2" src="assets/images/front/projects/tinka/open.png" alt="Open Arrow">
                                </picture>
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/close.png 1x,
                                  assets/images/front/projects/tinka/close@2x.png 2x,
                                  assets/images/front/projects/tinka/close@3x.png 3x"
                                    >
                                    <img class="close iconShowHide" [class.show]="!section2" src="assets/images/front/projects/tinka/close.png" alt="Close Arrow">
                                </picture>
                            </div>

                        </div>
                        <div class="textInfoBox" [class.show]="section2">
                            <p>
                                The Fleet manager can view the exact position of his assets at any time. Not only that but we incorporated Street View also, to make sure that dispatchers can guide drivers in the best way possible
                            </p>
                        </div>
                    </div>

                    <div class="boxItem">
                        <div class="headerBox pointer" (click)="toggleSection3()">
                            <div class="image">
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/lbsManager/icon3.png 1x,
                                  assets/images/front/projects/lbsManager/icon3@2x.png 2x,
                                  assets/images/front/projects/lbsManager/icon3@3x.png 3x"
                                    >
                                    <img class="titleImage" src="assets/images/front/projects/lbsManager/icon3.png" alt="Icon Biometric">
                                </picture>
                            </div>
                            <div class="title">
                                <h5>Fleet overview</h5>
                                <p>Designed with ease of access in mind</p>
                            </div>
                            <div class="icon">
                                <picture >
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/open.png 1x,
                                  assets/images/front/projects/tinka/open@2x.png 2x,
                                  assets/images/front/projects/tinka/open@3x.png 3x"
                                    >
                                    <img class="open iconShowHide" [class.show]="section3" src="assets/images/front/projects/tinka/open.png" alt="Open Arrow">
                                </picture>
                                <picture>
                                    <source
                                            type="image/png"
                                            srcset="
                                  assets/images/front/projects/tinka/close.png 1x,
                                  assets/images/front/projects/tinka/close@2x.png 2x,
                                  assets/images/front/projects/tinka/close@3x.png 3x"
                                    >
                                    <img class="close iconShowHide" [class.show]="!section3" src="assets/images/front/projects/tinka/close.png" alt="Close Arrow">
                                </picture>
                            </div>

                        </div>
                        <div class="textInfoBox" [class.show]="section3">
                            <p>
                                Working with fleets of over 2000 vehicles does not have to be a painful experience. Flutter allows fast data load times and everything moves swift and lean
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container fourthSection">
            <div class="row titleSection">
                <div class="col-12">
                    <h4>Some of the <span>stats</span></h4>
                    <p>We follow closely on the progress of the app even after launch. Below are some stats that we think are important for the success of the app.</p>
                </div>
            </div>
            <div class="row">
                <div class="statsImage">
                    <picture>
                        <source
                                type="image/png"
                                srcset="
                                  assets/images/front/projects/lbsManager/stats_3.png 1x,
                                  assets/images/front/projects/lbsManager/stats_3@2x.png 2x,
                                  assets/images/front/projects/lbsManager/stats_3@3x.png 3x"
                        >
                        <img class="" src="assets/images/front/projects/lbsManager/stats_3.png" alt="Phone Mock">
                    </picture>
                </div>
                <div class="statsItems items">
                    <div class="item">
                        <h2>20%</h2>
                        <h3>Reduced costs of operation overall</h3>
                    </div>
                    <div class="item">
                        <h2>3 continents</h2>
                        <h3>Used all over the world</h3>
                    </div>
                    <div class="item">
                        <h2>99%</h2>
                        <h3>User retention</h3>
                    </div>
                    <div class="item">
                        <h2>102k +</h2>
                        <h3>Vehicles in fleet management</h3>
                    </div>
                </div>

            </div>
        </div>

        <div class="container fifthSection">
            <div class="row titleSection">
                <div class="col-12">
                    <div class="colHeader">
                        <div class="titleHeader">
                            <h4>See other <span>projects</span></h4>
                        </div>
                        <div class="titleInfo">
                            <p>We believe that developing apps is a continuous experience. Check some of our other projects below.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 colProjects">
<!--                    <div class="items">-->
<!--                        <div class="item">-->
<!--                            <div class="image">-->
<!--                                <picture>-->
<!--                                    <source-->
<!--                                            type="image/png"-->
<!--                                            srcset="-->
<!--                                              assets/images/front/projects/tinka/placeholder-image.png 1x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@2x.png 2x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@3x.png 3x"-->
<!--                                    >-->
<!--                                    <img class="titleImage" src="assets/images/front/projects/tinka/placeholder-image.png" alt="Project Image">-->
<!--                                </picture>-->
<!--                            </div>-->
<!--                            <div class="text">-->
<!--                                <p>-->
<!--                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis a aenean nisl, sed orci aliquet et massa. Lectus bibendum turpis sem in.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="seeMore">-->
<!--                                <p>See more</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="image">-->
<!--                                <picture>-->
<!--                                    <source-->
<!--                                            type="image/png"-->
<!--                                            srcset="-->
<!--                                              assets/images/front/projects/tinka/placeholder-image.png 1x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@2x.png 2x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@3x.png 3x"-->
<!--                                    >-->
<!--                                    <img class="titleImage" src="assets/images/front/projects/tinka/placeholder-image.png" alt="Project Image">-->
<!--                                </picture>-->
<!--                            </div>-->
<!--                            <div class="text">-->
<!--                                <p>-->
<!--                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis a aenean nisl, sed orci aliquet et massa. Lectus bibendum turpis sem in.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="seeMore">-->
<!--                                <p>See more</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="image">-->
<!--                                <picture>-->
<!--                                    <source-->
<!--                                            type="image/png"-->
<!--                                            srcset="-->
<!--                                              assets/images/front/projects/tinka/placeholder-image.png 1x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@2x.png 2x,-->
<!--                                              assets/images/front/projects/tinka/placeholder-image@3x.png 3x"-->
<!--                                    >-->
<!--                                    <img class="titleImage" loading="lazy" src="assets/images/front/projects/tinka/placeholder-image.png" alt="Project Image">-->
<!--                                </picture>-->
<!--                            </div>-->
<!--                            <div class="text">-->
<!--                                <p>-->
<!--                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis a aenean nisl, sed orci aliquet et massa. Lectus bibendum turpis sem in.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="seeMore">-->
<!--                                <p>See more</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="caseStudies" *ngIf="relatedProjectLoading || (!relatedProjectLoading && projectRelated.length > 0)">
                        <ng-container *ngIf="projectRelated && projectRelated.length > 0">
                            <div class="projectItem" *ngFor="let item of projectRelated">
                                <app-project-card [item]="item"></app-project-card>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!projectRelated || projectRelated.length === 0">
                            <div class="projectItem loading" *ngFor="let item of [].constructor(3)">
                                <app-project-card-loading></app-project-card-loading>
                            </div>
                        </ng-container>
                    </div>

                </div>

            </div>
        </div>

        <div class="container sixSection">
            <div class="row">
                <div class="col-12 col-md-6 colText">
                    <div class="colHeader">
                        <div class="titleHeader">
                            <h4>Ready to get <span>started?</span></h4>
                        </div>
                        <div class="titleInfo">
                            <p>Drop us a line in order to get a personalised quote and other goodies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="contactContainer">
                        <div class="contactAction">
                            <a routerLink="/contact" class="btn">
                                GET IN TOUCH
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
