<div class="resense">
    <app-front-menu [blog] = true [project]="true"></app-front-menu>

    <div class="container-fluid dateContainer bg-grey firstSection">
        <div class="container">
            <div class="row headerTextRow">
                <div class="col-12 col-lg-5 headerText">
                    <div class="logo" [inlineSVG]="'assets/images/front/projects/resense/logo.svg'"></div>
                    <h1>Welcome to
                        <br/>
                        <span class="resenseMainColor">Resense</span> Project
                    </h1>

                    <h2 class="text-big">
                        Cross platform iOS and Android application for e-commerce developed with Flutter.
                    </h2>

                    <a href="https://resense.ro/" rel="noopener noreferrer" class="btn" target="_blank">
                        Visit Website
                    </a>
                </div>
                <div class="col-12 col-lg-7 topImage">
                    <div class="image">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="
                                  assets/images/front/projects/resense/hero1.png 1x,
                                  assets/images/front/projects/resense/hero1@2x.png 2x,
                                  assets/images/front/projects/resense/hero1@3x.png 3x"
                            >
                            <img src="assets/images/front/projects/resense/hero1.png" alt="Hero Image">
                        </picture>
                    </div>
                    <div class="imageGif">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="assets/images/front/projects/resense/top_image_gif.gif"
                            >
                            <img src="assets/images/front/projects/resense/top_image_gif.gif" alt="Hero Image">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid dateContainer bg-grey secondSection">
        <div class="container">
            <div class="rowSection">
                <div class="sectionCol">
                    <h3>Social Platforms Login</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    <div class="imageRow">
                        <div class="image">
                            <picture>
                                <source
                                        type="image/png"
                                        srcset="assets/images/front/projects/resense/im1_1.png 1x,
                                            assets/images/front/projects/resense/im1_1@2x.png 2x,
                                            assets/images/front/projects/resense/im1_1@3x.png 3x"
                                >
                                <img src="assets/images/front/projects/resense/im1_1.png" alt="Social Login">
                            </picture>
                        </div>
                        <div class="image">
                            <picture>
                                <source
                                        type="image/png"
                                        srcset="assets/images/front/projects/resense/im1_2.png 1x,
                                            assets/images/front/projects/resense/im1_2@2x.png 2x,
                                            assets/images/front/projects/resense/im1_2@3x.png 3x"
                                >
                                <img src="assets/images/front/projects/resense/im1_2.png" alt="Social Login">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="sectionCol">
                    <h3>Highly Usable Menu</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    <div class="imageRow">
                        <div class="image">
                            <picture>
                                <source
                                        type="image/png"
                                        srcset="assets/images/front/projects/resense/im2_1.png 1x,
                                            assets/images/front/projects/resense/im2_1@2x.png 2x,
                                            assets/images/front/projects/resense/im2_1@3x.png 3x"
                                >
                                <img src="assets/images/front/projects/resense/im2.png" alt="Highly Usable Menu">
                            </picture>
                        </div>
                        <div class="image">
                            <picture>
                                <source
                                        type="image/png"
                                        srcset="assets/images/front/projects/resense/im2_2.png 1x,
                                            assets/images/front/projects/resense/im2_2@2x.png 2x,
                                            assets/images/front/projects/resense/im2_2@3x.png 3x"
                                >
                                <img src="assets/images/front/projects/resense/im2_2.png" alt="Highly Usable Menu">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="sectionCol">
                    <h3>Self-explanatory Filtering</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    <div class="imageRow">
                        <div class="image">
                            <picture>
                                <source
                                        type="image/png"
                                        srcset="assets/images/front/projects/resense/im3.png 1x,
                                            assets/images/front/projects/resense/im3@2x.png 2x,
                                            assets/images/front/projects/resense/im3@3x.png 3x"
                                >
                                <img src="assets/images/front/projects/resense/im3.png" alt="Self-explanatory Filtering">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid dateContainer bg-white thirdSection">
        <div class="container">
            <div class="rowSection">
                <div class="item">
                    <p>#2B2936</p>
                    <div class="color"></div>
                </div>
                <div class="item">
                    <p>#5D6476</p>
                    <div class="color"></div>
                </div>
                <div class="item">
                    <p>#BFBEC2</p>
                    <div class="color"></div>
                </div>
                <div class="item">
                    <p>#F8FBFD - #EEF5FB</p>
                    <div class="color"></div>
                </div>
                <div class="item">
                    <p>#FCFCFC - #F7F7F7</p>
                    <div class="color"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid dateContainer bg-grey fourthSection">
        <div class="container">
            <div class="rowSection">
                <h5>Lorem Ipsum</h5>
                <p>One of the main attributes when designing this app it’s the use of the Material Design System.</p>
                <p>This practice improved accessibility, visibility, user engagement, and provides guidance to ease the</p>

                <div class="images">
                    <div class="image img1">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="assets/images/front/projects/resense/im4.png 1x,
                                            assets/images/front/projects/resense/im4@2x.png 2x,
                                            assets/images/front/projects/resense/im4@3x.png 3x"
                            >
                            <img src="assets/images/front/projects/resense/im4.png" alt="product">
                        </picture>
                    </div>
                    <div class="image img2">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="assets/images/front/projects/resense/im5.png 1x,
                                            assets/images/front/projects/resense/im5@2x.png 2x,
                                            assets/images/front/projects/resense/im5@3x.png 3x"
                            >
                            <img src="assets/images/front/projects/resense/im5.png" alt="cart">
                        </picture>
                    </div>
                    <div class="image img3">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="assets/images/front/projects/resense/im6.png 1x,
                                            assets/images/front/projects/resense/im6@2x.png 2x,
                                            assets/images/front/projects/resense/im6@3x.png 3x"
                            >
                            <img src="assets/images/front/projects/resense/im6.png" alt="my account">
                        </picture>
                    </div>
                    <div class="image img4">
                        <picture>
                            <source
                                    type="image/png"
                                    srcset="assets/images/front/projects/resense/im7.png 1x,
                                            assets/images/front/projects/resense/im7@2x.png 2x,
                                            assets/images/front/projects/resense/im7@3x.png 3x"
                            >
                            <img src="assets/images/front/projects/resense/im7.png" alt="orders">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid dateContainer bg-white fifthSection">
        <div class="container">
            <div class="rowSection">
                <h5>More About Resesne Mobile App</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <div class="image">
                    <picture>
                        <source
                                type="image/gif"
                                srcset="assets/images/front/projects/resense/animation.gif"
                        >
                        <img src="assets/images/front/projects/resense/animation.gif" alt="animation">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid dateContainer bg-grey SixthSection">
        <div class="container">
            <div class="rowSection">
                <h5>If you have a website or mobile app idea contact us.</h5>
                <a routerLink="/contact" class="btn">
                    Click here to get in touch
                </a>
            </div>
        </div>
    </div>

</div>
