.grid-data .form-background {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .03);
}

.grid-data .meta-data {
    margin: 10px 0 0;
    font-size: .8rem;
    color: #738a94;
    font-weight: 200;
}

.grid-data .meta-data span {
    color: #343f44;
}

.grid-data .item-title {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #3B474D;
}

.grid-data .item-quote {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.4em;
}

.grid-data .table {
    width: 98%;
    margin:0 1%;
}

.card-footer-table {
    padding: .75rem 3%;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    font-weight: normal;
}


.grid-data .table thead th  {
    font-weight: 600;
    border-top:0;
    padding:1rem;
}
.grid-data .table td {
    text-transform: none !important;
    border-top: 0;
    border-bottom: 1px solid #E5EFF5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-data  a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}


.grid-data .card .card-footer {
    padding: 0.65rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6;
}

.grid-data .card .card-footer ul li {
    display: table-cell;
    padding: 0 1rem;
    text-align: center;
}

.card .nav-tabs {
    margin-bottom: -1px;
}

.card .nav-tabs a {
    border-radius: 0;
    color: #b5bcc2;
    font-size: 12px;
    font-weight: 700;
    padding: .25em .5em;
    text-transform: uppercase;
}

.card .nav-tabs a:hover {
    border-color: transparent;
}

.card .nav-tabs .active a {
    border-color: #e8e9ef;
    color: #868e96 !important;
}

strong.card-title {
    font-size: 22px;
}

.grid-content {
    width: 100%;
    margin: 35px 0;
    border-radius: 5px;
    padding: 0;
    border: 0 solid transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}



