<div class="beoutdare">
  <app-front-menu [project]="true" [blog] = true></app-front-menu>

  <div class="container-fluid">
    <div class="hero-image">
      <picture>
        <source srcset="
                   ./assets/images/front/projects/beoutdare/hero_im.png 1x,
                   ./assets/images/front/projects/beoutdare/hero_im@2x.png 2x,
                   ./assets/images/front/projects/beoutdare/hero_im@3x.png 3x
                  " type="image/svg+xml">
        <img src="./assets/images/front/projects/beoutdare/hero_im.png"
             class="img-fluid"
             alt=""
             style="width: 100%"
        >
      </picture>
    </div>
  </div>

  <div class="container text">
    <div class="row">
      <div class="col-12">
        <h1>Introducing the Be Outdare Project</h1>
      </div>
      <div class="col-12 infoText">
        <p>
          We created an all-in-one solution for Be Outdare, a sports bike rental startup,
          building both their back-end database and their front-end app and website.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-blue-gradient">
    <div class="container">
      <div class="row textAndImage1">
        <div class="col-12 col-md-6">
          <h3>Rider Experience</h3>
          <p>
            An elegant front-end experience makes it easy for riders to create user
            accounts and even their own customized cycling information feeds.
          </p>
        </div>
        <div class="col-12 col-md-6 imageElement">
          <picture>
            <source srcset="
                   ./assets/images/front/projects/beoutdare/phone1_im.png 1x,
                   ./assets/images/front/projects/beoutdare/phone1_im@2x.png 2x,
                   ./assets/images/front/projects/beoutdare/phone1_im@3x.png 3x
                  " type="image/svg+xml">
            <img src="./assets/images/front/projects/beoutdare/phone1_im.png"
                 class="img-fluid"
                 alt=""
                 style="width: 100%"
            >
          </picture>

        </div>
      </div>
      <div class="row textAndImage2">
        <div class="col-12 col-md-6 imageElement order-2 order-md-1">
          <picture>
            <source srcset="
                   ./assets/images/front/projects/beoutdare/phone2_im.png 1x,
                   ./assets/images/front/projects/beoutdare/phone2_im@2x.png 2x,
                   ./assets/images/front/projects/beoutdare/phone2_im@3x.png 3x
                  " type="image/svg+xml">
            <img src="./assets/images/front/projects/beoutdare/phone2_im.png"
                 class="img-fluid"
                 alt=""
            >
          </picture>

        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
          <h3>Boosting Business</h3>
          <p>
            A robust back-end database connects riders with cycling stores,
            generating Be Outdare commission for each successful rental.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-blue-gradient-after">
    <div class="container screenImageContainer">
      <div class="row">
        <div class="col-12">
          <h3>Technical Specs</h3>
        </div>
        <div class="col-12 col-md-6">
          <p>
            The front-end for the Be Outdare website and native app was
            developed with cross-platform Angular. The back-end
            and API were built with Node.js and Loopback.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p>
            The Be Outdare database is AWS Aurora MySQL- compatible. Hosting is on AWS in a self-scaling,
            self-recovery-enabled environment.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 screenImage">
          <picture>
            <source srcset="
                   ./assets/images/front/projects/beoutdare/screen_im.png 1x,
                   ./assets/images/front/projects/beoutdare/screen_im@2x.png 2x,
                   ./assets/images/front/projects/beoutdare/screen_im@3x.png 3x
                  " type="image/svg+xml">
            <img src="./assets/images/front/projects/beoutdare/screen_im.png"
                 class="img-fluid"
                 alt=""
            >
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="footer-image">
      <picture>
        <source srcset="
                   ./assets/images/front/projects/beoutdare/footer_im.png 1x,
                   ./assets/images/front/projects/beoutdare/footer_im@2x.png 2x,
                   ./assets/images/front/projects/beoutdare/footer_im@3x.png 3x
                  " type="image/svg+xml">
        <img src="./assets/images/front/projects/beoutdare/footer_im.png"
             class="img-fluid"
             alt=""
             style="width: 100%"
        >
      </picture>
    </div>
  </div>
</div>

