<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">{{dialogTitle}}</h4>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        {{dialogText}}
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="activeModal.close('Close click')">Cancel</button>
<!--        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">OK</button>-->
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.close('ok')">OK</button>
    </div>

</div>
